<table style="width: 600px;margin: 10px auto;padding: 0;border: none;border-spacing: 0;border-collapse: collapse;font-family:'Helvetica', 'arial', sans-serif;font-size:18px; color: #333;font-weight:300;" align="center">
	<tbody>
		<tr>
			<td style="background:#fff;border:1px solid #f5f5f5;border-bottom: 2px solid #c03;padding: 30px 20px;margin: 0;font-size: 24px;font-weight: 700;">
				<% if !@site.image.nil? and !@site.image.logo_file_name.nil? %>
				<%= link_to image_tag(root_url + @site.image.logo.url(:medium), :style=>"width:auto;height:210px;"), @recipient.short_url %>
				<% elsif !@site.logo.nil? %>
				<h1 style="font-size:26px;margin: 0;">    
					<%= link_to  @site.logo , @recipient.short_url, style: "text-decoration: none; color: #333" %>    
				</h1>
				<% else %>
				<h1 style="font-size:26px;margin: 0;">    
					<%= link_to  @site.logo , @recipient.short_url, style: "text-decoration: none; color: #333" %> 
				</h1>
				<% end %>
			</td>
		</tr>
		<tr>
			<td style="background:#fafafa;padding: 20px;margin: 0;border:1px solid #f5f5f5;">
				<h1 style="font-size: 18px;">Hi,</h1>
				<% if @site.welcome_email.nil? %>
					<p style="font-size: 16px;color: #444;line-height:24px;font-weight: 300;">Thank you for signing up!</p>
					<p style="font-size: 16px;color: #444;line-height:24px;font-weight: 300;">Invite more friends via Facebook, Twitter or email to get early access (make sure to use your referral link: <%= @recipient.short_url %>).</p>
				<% else %>
					<p style="font-size: 16px;color: #444;line-height:24px;font-weight: 300;">
					<% markdown = Redcarpet::Markdown.new(Redcarpet::Render::HTML, :autolink => true, :space_after_headers => true) %>
					<% welcome_email = @site.welcome_email.gsub('%share_referral_link%',@recipient.short_url) %>
					<%= markdown.render(welcome_email).html_safe %></p>
				<% end %>
				<p style="font-size: 16px;color: #444;font-weight: 300;"><strong>Cheers!</strong><br>
					The <%= @site.name %> Team
				</p>
			</td>
		</tr>
		<tr>
			<td style="background:#f5f5f5;border: none;padding: 15px;margin: 0;border:1px solid #eee;">
				<p style="font-size: 12px;color: #666;font-weight: 300;">Please mark this email as not spam (unless our magic worked and it landed in your inbox) and add us to your contacts.</p>
				<%= link_to "Powered by LaunchGator", root_path, style: "font-size: 12px;font-weight: 700;color: #c03;text-decoration: none;display:inline-block;" %>
			</td>
		</tr>
	</tbody>
</table>		
