<div id="forms" class="form">
	<%= form_for(@contact_u) do |f| %>
	<% if @contact_u.errors.any? %>
	<div id="error_explanation">
		<h2> There are some issues:</h2>

		<ul>
			<% @contact_u.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
			<% end %>
		</ul>
	</div>
	<% end %>

	<div class="field">
		<%= f.label :name %>
		<%= f.text_field :name %>
	</div>
	<div class="field">
		<%= f.label :phone_number %>
		<%= f.text_field :phone_number %>
	</div>
	<div class="field">
		<%= f.label :email %>
		<%= f.text_field :email %>
	</div>
	<div class="field">
		<%= f.label :subject %>
		<%= f.text_field :subject %>
	</div>
  
	<div class="field">
		<%= f.label :comment %>
		<%= f.text_area :comment %>
	</div>
 
	<div class="actions">
		<%= f.submit 'Send', :class=>"greenbutton" %>
	</div>
	<% end %>

</div>	


