<h1>Change your password</h1>

<%= simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= f.error_notification %>

  <%= f.input :reset_password_token, :as => :hidden %>
  <%= f.full_error :reset_password_token %>

  <div class="form-inputs">
      <p><%= f.label :password, 'New password', :required => true %></p>
      <p><%= f.password_field :password, :autofocus => true,:class=>"txt_small" %></p>

  <p><%= f.label :password_confirmation,"Confirm your new password" %></p>
  <p><%= f.password_field :password_confirmation,:class=>"txt_small" %></p>


  </div>

  <div class="form-actions">
    <%= f.submit "Change my password",:class => "greenbutton" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
