<p>
	<%= f.label :name %>
</p>
<p>
	<%= f.text_field :name,  :class=>"txt_small" %>
</p>

<p>
	<%= f.label :tagline %>
</p>
<p> <%= f.text_field :tagline ,  :class=>"txt_small" %>
	<span class="hint_1">What makes your site exciting? </span>
</p>
<p>
	<%= f.label :description %>
</p>
<p><%= f.text_area :description %>
	<span class="hint_1"> More about the site, sometimes less is more.</span>
</p>

<p>
	<%= f.label :email %>
</p>
<p><%= f.text_field :email ,  :class=>"txt_small" %>
	<span class="hint_1">Contact mail will be sent here </span>
</p>
