<!-- Footer Wrapper -->
   	<div class="footwrap">
    	<!-- Footer Content -->
    	<div class="footer">
            <div class="footnav">
                <h1>Launch Gator</h1>
                <ul>
                    <li><%= link_to 'Home', root_path %></li>
                      <li><%= link_to "About", about_path %></li>
                    <li><%= link_to "Contact Us", contact_path %></li>
                    <br class="clearfix"/>
                </ul>
            </div>
            <div class="footnav">
                <h1>Links</h1>
                <ul>
                      <li><%= link_to "Privacy", privacy_policy_path %></li>
                    <li><%= link_to "Terms", terms_path %></li>
                    <br class="clearfix"/>
                </ul>
            </div>
            <div class="footnav">
            	<h1>Related</h1>
                <ul>
					<li><%= link_to "NaviGator", 'http://navi.deskgator.com',:target=>'_blank' %></li>
                	<li><%= link_to "SocialGator", 'http://social.deskgator.com',:target=>'_blank' %></li>
					<li><%= link_to "EmailGator", 'http://email.deskgator.com',:target=>'_blank' %></li>
                    <br class="clearfix"/>
                </ul>
            </div>
            <div class="footnav">
            	<h1>Social</h1>
                <ul>
                	<li><a href="http://www.facebook.com/pages/Fizzy-Software/182961565160614" target="_blank">Facebook</a></li>
                    <li><a href="http://twitter.com/fizzysoftware" target="_blank">Twitter</a></li>
                    <li><a href="http://www.linkedin.com/company/2149207" target="_blank">LinkedIn</a></li>                   <br class="clearfix"/>
                </ul>
            </div>
	            	<div class="company">
	            	<a href="http://www.fizzysoftware.com" target="_blank"><img src="/assets/fizzy.png" alt="A Product of Fizzy Software"></a>
                    <p>Copyright &copy; <%= Time.now.strftime("20%y")%>,&nbsp;<%= link_to "Fizzy Software", "http://fizzysoftware.com",:target=>'_blank'%></p>
	            </div>

            <!-- Footer Content Ends -->
    </div>

    <!-- Footer Wrapper Ends -->



