<% if @site.id == 1 || (@site.id != 1 && (params[:controller]=="sites" || params[:controller]=="invites" )) %>
<!-- Head Wrapper -->
<div class="headwrap" id="home">      
	<!-- Head Content -->
	<div class="head">
		<% if session[:user_id].nil? %>
			<%= link_to (image_tag "logo.png",  :class=>'logo' ) , root_path%>
		<% elsif !@site.new_record? %>
			<%= link_to (image_tag "logo.png",  :class=>'logo' ) , edit_site_path(@site) %>
		<% else %>
			<%= link_to (image_tag "logo.png",  :class=>'logo' ) , new_site_path %>
		<% end %>

		<!-- Main Navigation -->
		<ul class="mainnav">
			<% if !user_signed_in? %>	
				<li><%= link_to "Log In", new_user_session_path %></li>
				<li><%= link_to "Sign Up", new_user_registration_path,:class => "signupbtn" %></li>
			<% else %>
				<li>
					<%= link_to "Your Page", edit_site_path(@site) ,:class => active_class(params[:action],'edit') %>  
				</li>
				<li>
					<%= link_to "Insights", site_invites_path(@site) ,:class => active_class(params[:action],'index')%>
				</li>
				<li>
					<%= link_to "Logout", destroy_user_session_path, method: :delete %>
				</li>
			<% end %>
		</ul>
		<!-- Main Navigation Ends-->
	</div>
	<!-- <div class ="fork">
		<%= link_to image_tag('fork.png'), 'https://github.com/fizzysoftware/LaunchGator',:target => '_blank' %>
	</div> -->
	<!-- Head Content Ends -->
</div>
<!-- Head Wrapper Ends-->
<% end %>