<!DOCTYPE html>
<html>
	<head>
		<title><%= @title %></title>
		<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
		<![endif]-->
		<link rel="shortcut icon" type="image/x-icon" href="/assets/favicon.ico">
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
		<%= stylesheet_link_tag    "application", :media => "all" %>
		<%= javascript_include_tag "application" %>
		<%= csrf_meta_tags %>
		<%= render 'layouts/facebook_meta_tags' %>	
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<script type="text/javascript">
			$(document).ready(function(){
				$("body").ezBgResize({
					img : "<%= @background_image %>", // Required.
				});
			});
		</script>
		<script type="text/javascript">
			$(function(){
				var bodyheight = $(window).height();
				$('.launchbody').css({'min-height': bodyheight });
				$('.features').delay(5000).fadeIn(200);
				$('#notice').delay(3000).slideUp(200);
				$('#error').delay(3000).slideUp(200);
			});
		</script>


		<% if params[:controller] == "sites" and params[:action] == 'view' %>
			<% if !@site.image.id.nil? and !@site.image.logo.nil?%>
				<meta property="og:image" content="<%= @site.image.logo.url(:medium) %>"/>
			<% end %>
			<meta property="og:description" content="<%= @site.description if @site.description %>"/>
			<meta property="og:title" content="<%= @site.tagline if @site.tagline %>"/>
		<% end  %>

	</head>
	<body>
		<!-- Kiss Insights Starts-->
		<script type="text/javascript">var _kiq = _kiq || [];</script>
		<script type="text/javascript" src="//s3.amazonaws.com/ki.js/22616/8OJ.js" async="true"></script>
		<!-- Kiss Insights Starts-->
		
		<%= render "layouts/header" %>	
		
		<div class="launchbody">
			<% if params[:controller] == "users" && params[:action] == "home" && @site.id.to_i != 1 %>
				<div id="wrapper" class="<%= @site.box_alignment %>" style="background-color:<%= @site.box_color %>!important">		
			<% elsif (params[:controller] == "invites" ||params[:controller] == "sites" || params[:controller] == "users") and params[:action] == "index" %>
				<div id="wrapper" class="sites_invite">	
			<% elsif params[:controller] == "sites" and (params[:action] == "edit" || params[:action] == 'update') %>
				<div>
			<% else %>
				<div id="wrapper" >	
			<% end %>
			<% if flash[:notice] %>
				<div id='notice'><%= flash[:notice].html_safe %></div>
			<% end %>
             		
			<% if flash[:error] %>
				<div id='error'><%= flash[:error].html_safe %></div>
			<% end %>

			<%= yield %>
			</div>

			<% if params[:controller] == "users" and params[:action] == "home" %>
				<%= render "layouts/features" %>	
			<% end %>
		</div>

		<script>
			$(function(){
				$( "#site_wrapper , #site_builder").draggable();
				
			});
		</script>

		<% if (@site.id == 1 || (params[:action] != 'home' and @site.id == 1 )) && (@site.id == 1 && params[:action] != 'edit') %>
			<%= render "layouts/footer" %>	
		<% end %>	

	</body>
</html>