<!DOCTYPE html>
<html>
<head>
	<title>
		LaunchGator
	</title>
	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
		<![endif]-->
		<link rel="shortcut icon" type="image/x-icon" href="/assets/favicon.ico">
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
		<%= stylesheet_link_tag    "application", :media => "all" %>
		<%= javascript_include_tag "application" %>
		<%= csrf_meta_tags %>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>
	<body>
		<%= render "layouts/header" %>	
		
		<div id="wrapper" >	
					<% if flash[:notice] %>
					<div id='notice'><%= flash[:notice].html_safe %></div>
					<% end %>
             		
					<% if flash[:error] %>
					<div id='error'><%= flash[:error].html_safe %></div>
					<% end %>

					<%= yield %>
		</div>

		<% if params[:controller] == "sessions" and params[:action] == "home" %>
			<!--Features Section-->
			<div class="features">		
			<h1>THINGS YOU CAN DO WITH LAUNCH GATOR</h1>
			<!-- Left Img Container -->
			<div class="highlight">
				<%= image_tag "/assets/create.png", alt:"Create a page" %>
				<div class="highlight_content">
					<h1>Create &amp; Customize</h1>
					<p>Create awesome coming soon pages for your upcoming website. Log In and add your website information. Add custom colors and backgrounds that highlight your service.</p>
				</div>
			</div>
			<!-- Left Img Container Ends-->
			<!-- Left Img Container -->
			<div class="highlight">
				<div class="highlight_content">
					<h1>Share &amp; Engage</h1>
					<p>Share your landing page with your friends via social networks or emails and spread the word. Gather valuable feedback and bring your website to limelight.</p>
				</div>
				<%= image_tag "/assets/share.png", alt:"Share page" %>
			</div>
			<!-- Left Img Container Ends-->
			<!-- Right Img Container -->
			<div class="highlight">
				<%= image_tag "/assets/connect.png", alt:"Connect" %>
				<div class="highlight_content">
					<h1>Understand &amp; Connect</h1>
					<p>Understand the kind of audience that is visiting your landing page and connect with them to share and exchange valuable ideas that can be fruitful for your actual website.</p>
				</div>
			</div>
			<!-- Right Img Container Ends-->
			</div>
			<!--Features Section-->
		<% end %>
		<%= render "layouts/footer" %>	
	</body>
	</html>
